---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'vars';



// Our variables
$base-font-family:  'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 2;

$spacing-unit:     30px;

$text-color:       rgb(118, 131, 142);
$background-color: #f5f5f5;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$about-back: #D3C6C6;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.navbar-default#header-index {
  background-color: transparent;
  margin: 0px;
  border: none;
  position: absolute;
  top: 0px;

  &.med {
    top:-50px;
    transition: top 500ms ease;
    position: absolute;
    background-color: transparent;
  }

  &.alt {
    top: 0px;
    position: fixed;
    background-color: #444;
  }

}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 1.5em;
}

.navbar-default  .navbar-nav>li>a  {
  color: #fff;
  font-size: 1.3em;
}

#header-pages {
  top: 0px;
  position: fixed;
  background-color: #444;
}


#banner {
		background-attachment:	scroll,							fixed;
		background-color:		#666;
		background-image:		url('images/overlay.png'),		url('../images/mac-office.jpg');
		background-position:	top left,						center center;
		background-repeat:		repeat,							no-repeat;
		background-size:		auto,							cover;
		color: #fff;
		padding: 12em 0 20em 0;
		text-align: center;

		:last-child {
			margin-bottom: 0;
		}

		h2, h3, h4, h5, h6 {
			color: #fff;
		}

		h2 {
			font-size: 3.5em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		p {
			font-size: 1.25em;
			margin-bottom: 1.75em;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		.button {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
			color: #fff;
			min-width: 12em;

			&:hover {
				background-color: rgba(255,255,255,0.1);
			}

			&:active {
				background-color: rgba(255,255,255,0.2);
			}

			&.special {
				background: #fff;
				color: #666 !important;
			}
		}
	}

  #main {
    margin-top: -14em;
    padding-bottom: 100px;
  }

  #blog-main {
    margin-top: 12em;
    text-align:justify;
  }

  #subscription {
		background: $color-accent2-bg;
		color: $color-accent2-fg;
		padding: 3.5em 0 4em 0;

		h2, h3, h4, h5, h6 {
			color: inherit;
      font-size: 2.5em;
      line-height: 1.25em;
		}


		form {
			margin: 0 auto;
			max-width: 100%;
			width: 25em;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		.button {
			box-shadow: none;
			background: #fff;
			color: $color-accent2-bg;
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		select,
		textarea {
			color: $color-accent2-fg-bold;
			background: rgba(255,255,255,0.15);
			border: 0;

			&:focus {
				box-shadow: inset 0 0 0 2px #fff;
			}
		}

		::-webkit-input-placeholder {
			color: rgba(255,255,255,0.75) !important;
		}

		:-moz-placeholder {
			color: rgba(255,255,255,0.75) !important;
		}

		::-moz-placeholder {
			color: rgba(255,255,255,0.75) !important;
		}

		:-ms-input-placeholder {
			color: rgba(255,255,255,0.75) !important;
		}

		.formerize-placeholder {
			color: rgba(255,255,255,0.75) !important;
		}
	}

  .box {
  background: #fff;
  border-radius: $size-border-radius;
  box-shadow: 0 2px 0 0 $color-border;
  margin: 0 0 $size-element-margin 0;
  padding: $box-padding;

  > :last-child {
    margin-bottom: 0;
  }

  h2 {
    color: $text-color;
  }



  &.alt {
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin: 0 0 $size-element-margin 0;
    padding: 0 !important;
  }

  &.features {
    .features-row {
      border-top: solid 2px $color-border;
      position: relative;

      &:after {
        clear: both;
        content: '';
        display: block;
      }

      div {
        float: left;
        padding: $box-padding;
        width: 50%;

        :last-child {
          margin-bottom: 0;
        }

        &:nth-child(2n) {
          &:before {
            background: $color-border;
            content: '';
            display: block;
            height: 100%;
            margin-left: -3em;
            position: absolute;
            top: 0;
            width: 2px;
          }

          padding-right: 0;
        }

        &:nth-child(2n-1) {
          padding-left: 0;
        }
      }

      &:first-child {
        border-top: 0;

        div {
          padding-top: 0;
        }
      }

      &:last-child {
        padding-bottom: 0;

        div {
          padding-bottom: 0;
        }
      }
    }
  }

  &.special {
    text-align: center;
  }

  .image {
    &.featured {
      border-radius: 0;
      display: block;
      margin: $box-padding 0 $box-padding ($box-padding * -1);
      position: relative;
      width: calc(100% + #{$box-padding * 2});

      img {
        border-radius: 0;
        display: block;
        width: 100%;
      }

      &:first-child {
        border-radius: $size-border-radius $size-border-radius 0 0;
        margin-bottom: $box-padding;
        margin-top: $box-padding * -1;

        img {
          border-radius: $size-border-radius $size-border-radius 0 0;
        }
      }

      &:last-child {
        border-radius: 0 0 $size-border-radius $size-border-radius;
        margin-bottom: $box-padding * -1;
        margin-top: $box-padding;

        img {
          border-radius: 0 0 $size-border-radius $size-border-radius;
        }
      }
    }
  }
}

.site-footer {
  ul{
    list-style: none;

    li {
      display: inline-block;
      padding: 1em;
      font-size: 2em;
    }

    a{
      text-decoration: none;
      color: grey;
    }

    a:hover {
      color: darken(grey, 20%);
    }
  }
}


.crew {
  background-color: #DADADA;

  .name {
    color: rgb(110, 110, 110);
  }
}

.form-group {
  .contact {
    padding-bottom: 2em;
  }

  textarea {
    height: 12em;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    background-color: $grey-color-light;
    border-color: rgba(255,255,255,0);
  }
}

.recent3 {
  padding: 5%;

}

.post-thumbs {
  border-radius: 6px 6px 6px 6px;

  max-height: 200px;
   overflow:hidden;
   vertical-align: center;
}
