---
layout: page
---

<div class="container" id="blog-main">
  <header class="text-center">
    <h2>{{ page.title }}</h2>
    <hr>
    <p>
      {{ page.date | date: "%c" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>
  <div class="box special">
    <div class="image featured">
      <img src="{{site.url}}/images/{{page.img.medium}}" alt="" />
    </div>
    <div class="text-justify">
      {{content}}
    </div>
  </div>
</div>
